body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat' ,cursive;
	background: #eee;
	background-size: 100%  ;
}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px; 
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;

}
.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #ff4b2b;
	text-align: center;
}
.box .inputBox{
	position: relative;
}
.box .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #ff4b2b;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none; 
	background: transparent;

}
.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #ff4b2b;
	pointer-events: none;
	transition: 0.5s;
}
.box .inputBox input:focus + label{
	top: -18px;
	font-size: 13px
}

.box .submit {
	font-family: 'Montserrat' ,cursive;
	font-size: 0.85em;
	font-weight: 200;
	color: #E1EFE9;
	text-decoration: none;
	border: 1px solid #ff4b2b ;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #ff4b2b;
	transition: all 0.4s;
}

.btn:hover{
	color: #CBDFD6;
	border: 2px solid #CBDFD6;
}