:root {
	/* Primary colors */
	--light-green : #7ed56f;
	--green : #55c57a;
	--dark-green : #28b485;

	/* Secondary colors */
	--light-grey : #595959;
	--medium-grey : #353535;
	--dark-grey : #232323;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;	
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "New Courier", Courier, sans-serif;
	line-height: 1.7;
	color : var(--green);
	background-color: var(--dark-grey);

	position: relative;
}

/*
	****** LOGO STYLES ******
*/

.logo-box {
	position: absolute;
	margin: 1rem .5rem;
	padding: 1rem;
	z-index: 7000;
}

.logo {
	position: absolute;
	z-index: 7000;
}


/*
	****** NAVIGATION STYLES ******
*/

.checkbox {
	display: none;
}

.button {
	background-color: var(--light-grey);
	height: 6rem;
	width: 6rem;
	position: fixed;
	top: 1.5rem;
	right: 1.5rem;
	border-radius: 50%;
	z-index: 2000;
	box-shadow: 0 1rem 2rem rgba(255, 255, 255, .1);
	cursor: pointer;
}

.nav-bg {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	position: fixed;
	top: 2rem;
	right: 2rem;
	background-image: radial-gradient(var(--light-green), var(--dark-green));
	z-index: 1000;
	transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;

	opacity: 0;
	width: 0;

	transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	list-style: none;
	text-align: center;
	width: 100%;
}

.item {
	margin: 1rem;
}

/*
	***** FUNCTIONALITY *****
*/

.link:link,
.link:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	text-transform: uppercase;
	color: var(--dark-grey);
	text-decoration: none;
	background-image: linear-gradient(60deg, transparent 0%, transparent 50%, var(--dark-grey) 50%);	
	background-size: 230%;
	transition: all .35s
}

.link:hover,
.link:active {
	background-position: 100%;
	color: var(--dark-green);
	transform: translateX(1rem);
}

.checkbox:checked ~ .nav-bg {
	transform: scale(80);
}

.checkbox:checked ~ .nav {
	opacity: 1;
	width: 100vw;
}

/*
	***** NAV ICON STYLE *****
*/

.nav-icon {
	position: relative;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-icon,
.nav-icon::after,
.nav-icon::before {
	width: 3rem;
	height: 2px;
	background-color: var(--dark-green);
	display: inline-block;
}

.nav-icon::after,
.nav-icon::before {
	content: "";
	position: absolute;
	left: 0;
	transition: all .2s;
}

.nav-icon::after { top: .73rem; }
.nav-icon::before { top: -.75rem; }

.button:hover .nav-icon::after {
	top: 1rem;
}

.button:hover .nav-icon::before {
	top: -1rem;
}

.checkbox:checked + .button .nav-icon {
	background-color: transparent;
}

.checkbox:checked + .button .nav-icon::after  {
	top: 0;
	transform: rotate(-135deg);
}

.checkbox:checked + .button .nav-icon::before {
	top: 0;
	transform: rotate(135deg);
}


/*
	***** MAIN STYLING *****
*/

.main {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)) , url("img/coming_soon.jpg");
	background-size: cover;
	background-position: center;
}

.welcome {
	width: 50rem;
	position: absolute;
	top: 12rem;
	right: 12rem;
	font-size: 3rem;
	font-weight: 100;
}

.coming_soon {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	height: 60vh;
	width: 40vw;
	background-size: cover;
	background-position: center;
}

.countdown {
	position: absolute;
	font-size: 2.5rem;
	right: 30rem;
	bottom: 15rem;
}
